<a href="https://colab.research.google.com/github/peter-adepoju/peter-adepoju.github.io/blob/main/Jupyter-Notebooks/01_Introduction_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> <div align='center'> The following tutorial is based on Python 3.10</div>

> <div align='center'>This tutorial is meant for beginners but also experienced programmers that wish to expand their knowledge</div>
    
> <div align='center'>No prior programming experience is needed but some basic notions of mathematics are recommended</div>

[Python](https://docs.python.org/3.8/) is a high-level, object-oriented programming language that works on many platforms (Linux, Mac, Windows, Raspberry Pi, etc). It's easy to learn and is pretty much used for anything, some examples are:

- Web development
- Videogame development
- AI & Machine Learning
- Data analytics

Everything in Python is an *object* of an specific type or class. Objects contain data in the form of attributes and code in the form of methods. Objects are instances of classes, which also determine their types.

Objects are assigned to *variables*. A variable is a symbolic name that is a reference (or pointer) to an object, but the data itself is still contained within the object.

<u>**This tutorial is divided into six notebooks/modules targeting different aspects:**</u>

1. Introduction to Python for data analysis: Basics (<u>current one</u>)
2. Introduction to Python for data analysis: Functions
3. Introduction to Python for data analysis: Object-oriented programming
4. Introduction to Python for data analysis: NumPy and Pandas
5. Introduction to Python for data analysis: Data visualization
6. Introduction to Python for data analysis: Helpful tips and modules

# <div align="center">Introduction to Python for data analysis: Basics</div>

# Contents

1. <a href="#intro">Commenting, printing messages and defining text/numerical variables</a>
    1. <a href='#commenting-and-printing'>How to comment code and print a message?</a>
    2. <a href='#variable-names'>Variables and variable's names</a>
    3. <a href='#string-variable'>How to define a variable containing text?</a>
    4. <a href='#integer-variable'>How to define integers variables?</a>
    5. <a href='#math'>Simple mathematical operations</a>
    6. <a href='#decimal-variables'>How to define decimal values?</a>
2. <a href='#printing'>Let's improve our printing</a>
3. <a href='#booleans'>Booleans</a>
4. <a href='#conditions'>Python conditions and if statements</a>
5. <a href='#loops'>Loops</a>
6. <a href='#tuples'>Tuples</a>
7. <a href='#lists'>Lists</a>
8. <a href='#sets'>Sets</a>
9. <a href='#dicts'>Dictionaries</a>
10. <a href='#mutables-vs-immutables'>Mutables vs immutables</a>
11. <a href='#equality-vs-identity'>Equality vs identity</a>
12. <a href='#importing'>Importing modules and packages</a>
13. <a href='#exercises'>Exercises</a>
    1. <a href='#solutions'>Solutions</a>

## <div id='intro'>1. Commenting, printing messages, defining text and numerical variables</div>

### <div id='commenting-and-printing'>1.A. How to comment code and print a message?</div>

In [ ]:
# This is a comment

"""
Note: this is another way
of commenting multiple lines
"""

# This prints a 'Hello World!' message
print('Hello World!')  # this is also a comment

# I can also concatenate strings
print('My', 'other', 'text')

Hello World!
My other text

**Note:** ```print()``` is a function which takes any number of arguments, and prints them out on one line of text. Each argument is converted to text and is separated by spaces, adding a single '\n' (new line char) at the end. When called with zero parameters, ```print()``` just prints '\n' (empty line).

As you can see from the examples above, when printing a string/text (for example: ```'Hellow World!'```), ```print()``` just prints out the text data of the string with not quotes.

Functions will be further discussed later (in the 02_Introduction_Functions notebook). For now, you just need to know that there are built-in functions that can (or can't) take arguments and (usually, but not always) return something.

### <div id='variable-names'>1.B. Variables and variable's names</div>

Variables are used to store numbers, text and other data formats (more about all this soon).

One could imagine several different conventions for naming variables.

The two most common naming conventions for variables are:

#### camelCase:

<u>Syntax:</u>

```
variableName = value
```

#### snake_case [prefered by community] [pep8 standard]

<u>Syntax:</u>

```
my_var = value
```

<u>Extra</u>:
pep8 style guide: https://www.python.org/dev/peps/pep-0008/

### <div id='string-variable'>1.C. How to define a string variable (i.e. a variable containing text)?</div>

<u>Possible syntaxes:</u>

```
variable_name = 'text'
my_other_variable_name = "my other text"
```

All strings are stored as Unicode in an instance of the ```str``` class/type (classes will be discussed in the Introduction_Classes notebook).

In [ ]:
string = 'My text'

One can check the type of a variable with the function ```type()```:

In [ ]:
print(type(string))

<class 'str'>

#### How to sum/concatenate strings?

To concatenate strings, we can use the ```+``` operator:

In [ ]:
string_1 = 'My name is '
string_2 = 'Jonathan'
string = string_1 + string_2
print(string)

My name is Jonathan

**Note:** We can concatenate strings within a ```print()``` function:

In [ ]:
my_string = 'My name is Jonathan'
print('my_string = ' + my_string)

my_string = My name is Jonathan

#### How to replace a string by another string?

This can be achieved by using the ```replace()``` function

**Example:**

In [ ]:
my_string = my_string.replace('Jonathan', 'David')  # my_string now is changed!
print('my_string = ' + my_string)

my_string = My name is David

**Note:** We need to store the result of the ```replace()``` function to a variable, in this case again to ```my_string```. If we don't do that, ```my_string``` will actually still point to ```'My name is Jonathan'```. This is true for all built-in functions that you can use on strings, you can find the full list of functions [here](https://www.w3schools.com/python/python_ref_string.asp). Let's see an example:

In [ ]:
my_string = 'My name is Jonathan'
my_string.replace('Jonathan', 'David')  # my_string is NOT changed!
print('my_string = ' + my_string)

my_string = My name is Jonathan

#### The ```format()``` function

The ```format()``` function can be used to insert something into a string.

<u>Syntax:</u>

```
variable = 'some text {} other text'.format(string)
```

Let's assume ```string = 'plus'```, in that case, the above will produce 'some text plus other text' (i.e. the content of ```string``` will be inserted where ```{}``` is placed). This work also for any other variable type that can be converted to ```str``` (```int```, ```float```, etc).


**Example:**

In [ ]:
my_name = 'Jonathan'
string = 'My name is {}'.format(my_name)
print(string)

My name is Jonathan

**If you need to insert something several times, you could use something like the following:**

In [ ]:
last_name = 'Bond'
first_name = 'James'
string = 'My name is {0}, {1} {0}'.format(last_name, first_name)
print(string)

My name is Bond, James Bond

**Note:** ```{0}``` is replaced by the first argument provided to the format function and ```{1}``` is replaced by the second.

#### How to find the position of a string within a string?

```find()``` searches the string for a specified value and returns the starting position of where it was found (note: indexes start at zero!), it returns ```-1``` if it was not found.

**Example:**

In [ ]:
string = 'Where is my car?'
print('"car" is at the position {} in the "{}" string'.format(string.find("car"), string))

"car" is at the position 12 in the "Where is my car?" string

### <div id='integer-variable'>1.D. How to define integers variables?</div>

In [ ]:
a = 1
b = -2

```a``` and ```b``` could be named pretty much as desired (exceptions and conventions will be seen later, see below)

```a``` and ```b``` are of type ```int``` (class ```int```) [classes will be explained later (in the Introduction_Classes notebook)]

You can use ```print(type(VARIABLE_NAME))``` to display the type class of ```VARIABLE_NAME```

In [ ]:
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

### How to print the value of a variable?

Let's print the value of ```my_var``` using the ```format()``` function

In [ ]:
print('a = {}'.format(a))

a = 1

### <div id='math'>1.E. Simple mathematical operations</div>

#### Sum

In [ ]:
c = a+b
print('c(a+b)   = {}'.format(c))

# now sum 3 to c
c += 3
print('c(a+b+3) = {}'.format(c))

c(a+b)   = -1
c(a+b+3) = 2

Note that ```x += 3``` is equivalent to ```x = x + 3```

So, the above can also be writen in the following way:

In [ ]:
c = a+b
c = c + 3  # new value for c is old value of c plus 3
print('c(a+b+3) = {}'.format(c))

c(a+b+3) = 2

#### Subtraction

In [ ]:
d = a-b
print('a-b = {}'.format(d))

a-b = 3

Another example:

In [ ]:
var = (a-b)**2
print('(a-b)**2 = {}'.format(var))

(a-b)**2 = 9

#### Mutiplication

In [ ]:
e = 5 * 3
print('5 times 3 = {}'.format(e))

5 times 3 = 15

#### Division

In [ ]:
f = 10/2
print('10 divided by 2 = {}'.format(f))

10 divided by 2 = 5.0

#### Exponentiation

In [ ]:
g = 3**3
print('3^3 (i.e. 3*3*3) = {}'.format(g))

3^3 (i.e. 3*3*3) = 27

### <div id='decimal-variables'>1.F. How to define decimal values?</div>

In [ ]:
ad = 2.1
bd = 100.32

```ad``` and ```bd``` are of type ```float``` (class ```float```)

In [ ]:
print(type(ad))
print(type(bd))

<class 'float'>
<class 'float'>

### Assign multiple values to multiple variables

In [ ]:
x, y = 100, 200
print('x = {}'.format(x))
print('y = {}'.format(y))

x = 100
y = 200

### You can assign more than two and it is also possible to assign variables to different types

In [ ]:
x, y, z = 10, 20, 'text'
print('x = {}'.format(x))
print('y = {}'.format(y))
print('z = {}'.format(z))

x = 10
y = 20
z = text

### Assign the same value to multiple variables

In [ ]:
x = y = 5
print('x = {}'.format(x))
print('y = {}'.format(y))

x = 5
y = 5

## <div id='printing'>2. Let's improve our printing</div>

Let's print ```a``` and ```ad``` (defined above)

In [ ]:
print('a  = {}'.format(a))
print('ad = {}'.format(ad))

a  = 1
ad = 2.1

**Let's now use f-string (Python 3.6+)**

f-string is a shorter way of using ```format()``` when constructing a string (variable of type ```str```). This can be particularly helpful when printing.

<u>Syntax:</u>

```
string = f'{variable_name}'
```

```{variable_name}``` will be replaced by the value of ```variable_name```

The above simplifies the old ```format()``` method:

```
string = '{}'.format(variable_name)
```

**Example 1:**

In [ ]:
print(f'a  = {a}')
print(f'ad = {ad}')

a  = 1
ad = 2.1

**Reminder:** this works for formatting any string (not only to be used with print!)

**Example 2:**

In [ ]:
awesome = 'awesome'
string = f'f-string is {awesome}!'
print(string)

f-string is awesome!

**Or even better=shorter (Python 3.8+):**

<u>Syntax:</u>

```
string = f'{variable_name = }'
```

**Note:** the equal (```=```) goes inside the ```{}``` and after ```variable_name```

The above will print ```variable_name = variable_name's content```

In [ ]:
print(f'{a  = }')
print(f'{ad = }')

a  = 1
ad = 2.1

**Multiple inputs to format (using format and f-string):**

In [ ]:
print('a={} and ad={}'.format(a,ad))
print(f'a={a} and ad={ad}')

a=1 and ad=2.1
a=1 and ad=2.1

## <div id='booleans'>3. Booleans</div>

Booleans are of type ```bool```

In [ ]:
pass_a = True  # also equal to 1
pass_b = False # also equal to 0
print(f'{type(pass_a) = }')
print(f'{type(pass_b) = }')

type(pass_a) = <class 'bool'>
type(pass_b) = <class 'bool'>

### What does ```bool(string)``` return?

If I pass an empty string to ```bool()```, it will return ```False```. If I pass an non-empty string to ```bool()```, it will return ```True```.

**Examples:**

In [ ]:
string_1 = ''
string_2 = 'test'
string_3 = ' ' # this is also not an empty string (it has an space!)
print(f'{bool(string_1) = }')
print(f'{bool(string_2) = }')
print(f'{bool(string_3) = }')

bool(string_1) = False
bool(string_2) = True
bool(string_3) = True

## <div id='conditions'>4. Python conditions and if statements</div>

### Conditions

* Equals: ```a == b```
* Not Equals: ```a != b```
* Less than: ```a < b```
* Less than or equal to: ```a <= b```
* Greater than: ```a > b```
* Greater than or equal to: ```a >= b```

### if else elif

Usage:
```
if condition:  # if condition is True, it will execute what is inside (i.e. do something)
    # do something (note: the identation must be 2/4 spaces or a tab (4 spaces are the preferred indentation method), and must be consistent!)
elif other_condition: (i.e. else if)
    # do something else  
else:  # if none of the above are True
    # do another thing
````

#### Example 1:

In [ ]:
if pass_a:  # it will enter since it was defined as True (see above)
    print('pass_a is True')
else:  # if pass_a is False, it will execute what is below
    print('pass_a is not True, i.e. is False')

pass_a is True

#### Example 2:

```if not variable``` is only ```True``` if ```variable``` is ```False```

In [ ]:
if not pass_b:  # it will enter since pass_b was defined as False (see above)
    # if pass_b is True, then condition is equal to False
    # if pass_b is False, then condition is equal to True and is satisfied and executes what is below
    print('pass_b is False')
else:
    print('pass_b is True, i.e. is not False')

pass_b is False

#### Example 3: Compare strings

In [ ]:
print(f'{string = }')
if string == 'My text':
    print('string is equal to "My text"')  # note how I managed to use a quote ("" and '' and interchangeable)

if string != 'My other text':
    print('string is not equal to "My other text"')  # note that I used "" to show text in the print

string = 'f-string is awesome!'
string is not equal to "My other text"

#### Example 4: Compare integers

In [ ]:
n = 100
if n == 50:  # == means equal
    print('n is equal to 50')
elif n == 100:
    print('n is equal to 100')
else:
    print('n is not equal to 50 nor to 100')

if n != 50:  # != means different
    print('n is not equal to 50')

if n > 50:  # > means larger
    print('n is larger than 50')

if n < 1000:  # < means smaller
    print('n is smaller than 1000')

n is equal to 100
n is not equal to 50
n is larger than 50
n is smaller than 1000

#### Example 5: In-line if else (```var = value_1 if CONDITION else value_2```)

In [ ]:
sucess = True if string == 'My text' else False # sucess is True if string == 'My text', otherwise is False
print(f'{sucess = }')

sucess = False

#### Example 6: Check if a string starts with a another given string, by using the ```startswith()``` function

In [ ]:
string = 'An apple a day keeps the doctor away'
if string.startswith('An'):
    print(f'The phrace "{string}" starts with "An"')

The phrace "An apple a day keeps the doctor away" starts with "An"

**Note:** One can check if a string ends with a given string with the ```endswith()``` function.

For a complete list of functions (also called methods, more about this in the Introduction_Classes notebook) available for the ```str``` type, check https://www.w3schools.com/python/python_ref_string.asp.

### Logical operators

* ```and```: returns ```True``` if both statements are ```True```.

* ```or```: returns ```True``` if one of the statements is ```True.

* ```not```: already discussed (it reverse the result, i.e returns ```False``` if the result is ```True```).

**Examples:**

In [ ]:
x = 5
y = 6
if x == 5 and y == 6:
    print('x == 5 and y == 6')

if x == 5 or y == 5:
    print('x == 5 or y == 5')

x == 5 and y == 6
x == 5 or y == 5

**Note:** One can use as many ```and``` and ```or``` as desired and all logical operators can be used simultaneously. Example: ```if x < a and y < b and (pass_1 or pass_2):```

**Important:** Any variable defined within an ```if condition``` can also be accessed outside the condition. Examples:

In [ ]:
x = 5
y = 6
if x and y:  # equal to if x >0 and y > 0
    z = x / y
print(f'{z = }')

x = 10
y = 0
if x and y:
    z = x /y
elif not y:  # equal to elif y == 0
    z = -1
print(f'{z = }')

z = 0.8333333333333334
z = -1

### Sometimes, ```and``` can be suppressed: the ```x < y < z``` case

The following two conditions are equivalent:

In [ ]:
x = 5
y = 6
z = 7

if x < y and y < z:
    print('x < y < z')

if x < y < z:
    print('x < y < z')

x < y < z
x < y < z

### Structural Pattern Matching: match and state statements

Since Python [3.10](https://docs.python.org/3/whatsnew/3.10.html), a match statement can be used to take an expression and compare its value to successive patterns given as one or more case blocks.

Syntax:

```
match subject:
    case <pattern_1>:
        <action_1>
    case <pattern_2>:
        <action_2>
    case <pattern_3>:
        <action_3>
    case _:
        <action_wildcard>
```

The case statement with ```_``` will match as a wildcard (i.e. if no other pattern matched), and its usage is optional. Let's have a look at an example:

In [ ]:
error = 404
match error:
    case 505:
        print(f'Error {error}: HTTP version not supported')
    case 503:
        print(f'Error {error}: Server unavailable')
    case 404:
        print(f'Error {error}: Page not found')

Error 404: Page not found

Note: It is possible to combine several expressions using OR (|). For example:

```
match error:
    case 505 | 500:
        print(f'Error {error}: Server error')
    case 503:
        print(f'Error {error}: Server unavailable')
    case 404:
        print(f'Error {error}: Page not found')
```

For more examples, see [3.10](https://docs.python.org/3/whatsnew/3.10.html)

## <div id='loops'>5. Loops</div>

Imagine we want to print numbers from 0 to 9

```range(n)```: gives numbers from 0 upto n-1 (incrementing by 1)

```
for i in range(10):  # i could be named as you wish
    print(i)  # note: the identation (must be 2/4 spaces or a tab, and must be consistent!)
    # remember: we can print variables of other types too! here i is of type int
    # I leave the loop once i reaches 10 and content is not executed
```


**Throughout explanation:**

The above checks if ```i``` is smaller than 10, if it is, then executes what is within the loop (the print)
then, increments ```i``` by 1, checks again if ```i``` is smaller than 10, if it is, executes the print and so on...
until ```i == 10``` (hence not smaller than 10) which stops the loop (print is not executed) and the loop ends

**Important:** ```range(n)``` starts always at zero, if one wants to start at any other value, one should use ```range(start, n)``` instead.

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

The above is equivalent to the following (now using ```while```)

In [ ]:
print('\nNow do a loop using while \n')
i = 0
while i < 10:  # enter only if i is smaller than 10
    print(i)
    i += 1  # here I increment manually i by 1

Now do a loop using while

0
1
2
3
4
5
6
7
8
9

### How to break/exit a loop?

Use the ```break``` statement.

**Example:**

In [ ]:
for i in range(10):
    if i > 5:
        break
    print(f'{i = }')

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5

### How to skip some iterations on a loop?

The ```continue``` statement allows you to skip over the part of a loop, but the rest of the loop will be completed, i.e. the current iteration of the loop will not finish, but the program will return to the top of the loop.

**Example:** print odd numbers between 0 and 9

In [ ]:
for i in range(10):
    if i % 2 == 0:  # True if i is even (x % 2 gives the remainder of the division)
        continue  # skip this iteration (based on the value of i, in this case when i is odd)
    print(f'{i = }')

i = 1
i = 3
i = 5
i = 7
i = 9

**Note:** the above can be written more compactly:

```
for i in range(10):
    if i % 2 != 0:
        print(f'{i = }')
```

## <div id='tuples'>6. Tuples</div>

Tuples are used to store multiple items in a single variable.

A ```tuple``` is one of the 4 built-in data types in Python used to store collections of data, the other 3 are ```list```, ```set```, and ```dict``` (all these will be introduced later).

A tuple is a collection which is **ordered** (which means the order in which you put the items is kept).

**Items on a tuple can be duplicated.**

Tuples are written with round brackets ```()```.

Tuples are immutable (this will be explained later on this notebook).

**Example:**

In [ ]:
my_tuple = ('apple', 'orange', 'pineapple', 'strawberry')
print(f'The type of my_tuple is {type(my_tuple)}')
print(f'{my_tuple = }')

The type of my_tuple is <class 'tuple'>
my_tuple = ('apple', 'orange', 'pineapple', 'strawberry')

**Note:** A tuple can contain any type (```str```, ```int```, ```float```, ```bool```, etc)

**Note:** One can loop over the items of a tuple, the syntax is the same as for lists (see below).

## <div id='lists'>7. Lists</div>

Lists are used to store multiple items in a single variable.

Lists are created using square brackets ```[]```.

List items are **ordered** and **allow duplicate values**.

List items are indexed. The first index is 0.

Lists are mutable (this will be explained later on this notebook).

**Examples:**

In [ ]:
list_a = [1, 2, 3, 4]
list_b = ['a', 'b', 'c', 'd', 'e']
list_c = [1, 'a', 2.3]  # lists can be of any type (simultaneously!)

# The above variables (list_x) are of type list (class list)
print(type(list_a))
print(type(list_b))
print(type(list_c))

<class 'list'>
<class 'list'>
<class 'list'>

### How to add a new element to a list?

There are two ways

1. Using the ```append()``` function:

In [ ]:
list1 = []  # this defines an empty list
for i in range(5):
    list1.append(i)  # adds i to the end of the list
print(f'{list1 = }')

list1 = [0, 1, 2, 3, 4]

2. Concatenating lists with ```+=```

The above is equivalent to the following

In [ ]:
list2 = []  # this defines an empty list
for i in range(5):
    list2 += [i]  # concatenate lists
print(f'{list2 = }')

list2 = [0, 1, 2, 3, 4]

### How to know the size/length of a list (number of items)?

Use the ```len()``` function.

**Example:**

In [ ]:
print(f'size of list1 = {len(list1)}')

size of list1 = 5

### Get content from a given index (reminder: indexing starts at zero!)

In [ ]:
list_d = [1, 2, 4, 5]
print(f'{list_d = }')
print(f'Content of list_d at index 0: {list_d[0]}')
print(f'Content of list_d at index 1: {list_d[1]}')
print(f'Final element of list_d: {list_d[-1]}')

list_d = [1, 2, 4, 5]
Content of list_d at index 0: 1
Content of list_d at index 1: 2
Final element of list_d: 5

### How to remove an item at a given index from a list with ```pop()```?

<u>Syntax:</u>
```
pop(index)
```

**Note:** ```pop()``` returns the removed item.

In [ ]:
my_list = [1,2,3,4,5]
print(f'{my_list = }')

# remove 2 (at index 1) from my_list
removed_item = my_list.pop(1)

print(f'my_list after removing 2 = {my_list}')
print(f'removed item: {removed_item}')

my_list = [1, 2, 3, 4, 5]
my_list after removing 2 = [1, 3, 4, 5]
removed item: 2

### Get a subset of a list

Let's get the first two elements of ```list_d```

In [ ]:
list_d_first_two = list_d[0:2]
print(list_d_first_two)

[1, 2]

**Note:**
1. ```list[x:y]``` will get you a new list with elements from ```x``` upto ```y-1```
2. You can get all elements starting from a given index ```a``` with ```list[a:]```
2. You can get all elements up to a given index ```a``` with ```list[:a+1]``` (the ```+1``` is needed since it retrieves values upto the index ```(a+1)-1```.

### Loop over items of a list

In [ ]:
print(f'{list1 = }')

list1 = [0, 1, 2, 3, 4]

#### Rookie way:

Loop over indexes and then get item for each index:

In [ ]:
for counter in range(len(list1)):
    print(f'content for list1[{counter}]: {list1[counter]}')

content for list1[0]: 0
content for list1[1]: 1
content for list1[2]: 2
content for list1[3]: 3
content for list1[4]: 4

#### Expert way:

Loop over items:

In [ ]:
for item in list1: # item could be any name
    print(item)

0
1
2
3
4

#### if you want to also get the counter, use ```enumerate```

The ```enumerate()``` method adds a counter to an iterable and returns the ```enumerate``` object.

<u>Syntax:</u>
```
enumerate(iterable, start_index)
```

**Note:** start_index is zero by default.

<u>Example:</u>

```
fruits = ['apple', 'orange', 'strawberry']
my_enumerate = enumerate(fruits)

print(list(my_enumerate))  # convert enumerate object to list
# Output: [(0, 'apple'), (1, 'orange'), (2, 'strawberry')]

print(type(my_enumerate))
# output: <class 'enumerate'>

enumerate_starting_at_10 = enumerate(fruits, 10)
print(list(enumerate_starting_at_10))
# Output: [(10, 'apple'), (11, 'orange'), (12, 'strawberry')]
```

Let's use ```enumerate``` to loop over ```list1``` items and print the value for each index:

In [ ]:
for counter, item in enumerate(list1):
    print(f'content for list1[{counter}]: {item}')

content for list1[0]: 0
content for list1[1]: 1
content for list1[2]: 2
content for list1[3]: 3
content for list1[4]: 4

#### I could also loop over a list in this way:

In [ ]:
for item in [1, 2, 3, 4]:
    print(item)

1
2
3
4

### Looping over two lists of the same length

#### Bad example:

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
for i in range(len(a)):
    print(f'value of a for item {i} = {a[i]}')
    print(f'value of b for item {i} = {b[i]}')

value of a for item 0 = 1
value of b for item 0 = 4
value of a for item 1 = 2
value of b for item 1 = 5
value of a for item 2 = 3
value of b for item 2 = 6

#### Good example: let's use ```zip()```

The ```zip()``` method takes iterables, aggregates them in a tuple, and returns it

<u>Example:</u>

```
fruits = ['apple', 'orange', 'strawberry']
colors = ['green', 'orange', 'red']
result = zip(fruits, colors)

print(list(result))  # convert result (of type zip) to list
# Output: [('apple', 'green'), ('orange', 'orange'), ('strawberry', 'red')]
```

In [ ]:
for av, bv in zip(a, b):
    print(f'{av = }')
    print(f'{bv = }')

av = 1
bv = 4
av = 2
bv = 5
av = 3
bv = 6

#### If you still want to know the iterator use ```enumerate``` and ```zip```:

Lets' use ```enumerate(zip())``` to print each value of ```a``` and ```b``` for each index:

In [ ]:
for i, (av, bv) in enumerate(zip(a, b)):
    print(f'value of a for item {i} = {av}')
    print(f'value of b for item {i} = {bv}')

value of a for item 0 = 1
value of b for item 0 = 4
value of a for item 1 = 2
value of b for item 1 = 5
value of a for item 2 = 3
value of b for item 2 = 6

### How to make a list out of stripping out a string?

We can use the ```split(separator, maxsplit)``` function to break up a string at the specified separator and obtain a list of strings. By default, the separator is a whitespace which, for example, can be used to extract the list of words in a sentence. We can also specify how many splits to do with the ```maxsplit``` argument. If it is not provided, not limit is set. For example, if we set ```maxsplit``` to ```1```, then the function will return a list with 2 elements. Let's see a few examples:

In [ ]:
string = 'An apple a day keeps the doctor away'

words_in_string = string.split(' ')  # here the separator is a space
print(words_in_string)

['An', 'apple', 'a', 'day', 'keeps', 'the', 'doctor', 'away']

In [ ]:
means_of_transport = 'car,bus,tram,taxi'
means_of_transport_list = means_of_transport.split(',')  # here the separator is a comma
print(means_of_transport_list)

['car', 'bus', 'tram', 'taxi']

### The ```any()``` and ```all()``` functions

The ```any()``` and ```all()``` functions evaluate the items in a list or tuple to see which are ```True```.

The ```any()``` method returns ```True``` if any of the items are true (if not, it returns ```False```), and the ```all()``` function returns ```True``` if all the items are ```True``` (if not, it returns ```False```).

### List comprehension (faster than the above!)

In [ ]:
new_list_1 = [i for i in range(5)]  # range starts at zero and stopts at 5-1
new_list_2 = [i for i in range(1, 5)]  # here range starts at 1 and stops also at 5-1
print(f'{new_list_1 = }')
print(f'{new_list_2 = }')

new_list_1 = [0, 1, 2, 3, 4]
new_list_2 = [1, 2, 3, 4]

#### List comprehension including a condition

<u>Example 1:</u>

In [ ]:
my_list = [i for i in range(20) if i % 2 == 0]  # only even numbers
print(f'{my_list = }')

my_list = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

<u>Example 2:</u>

In [ ]:
my_list_bool = [True if i % 2 == 0 else False for i in range(10)]  # put True/False depending if even or odd
print(f'{my_list_bool = }')

my_list_bool = [True, False, True, False, True, False, True, False, True, False]

<u>Example 3:</u> If a list is too large, too much memory might be needed

In that case, a ```generator``` can be used

A ```generator``` allows you to declare a function that behaves like an iterator (i.e. it can be used in a for loop)

Create a list (```my_list```) and sum over all values, then also check size of ```my_list```

In [ ]:
my_list = [i for i in range(1000000)]  # create a list using comprehension
print(f'{sum(my_list) = }')  # sum all values from my_list
import sys  # will see more about import later (see below)
print(f'{sys.getsizeof(my_list) = }', 'bytes')  # print size of my_list

sum(my_list) = 499999500000
sys.getsizeof(my_list) = 8448728 bytes

Let's now use a ```generator``` to get same sum and check size of such a ```generator``` (it's considerably smaller than ```my_list```!)

In [ ]:
my_gen = (i for i in range(1000000))  # NOTE: I used () instead of []
print(f'{sum(my_gen) = }')  # sum all values
print(f'{sys.getsizeof(my_gen) = }', 'bytes') # print size of my_gen (considerably smaller than my_list!)

sum(my_gen) = 499999500000
sys.getsizeof(my_gen) = 200 bytes

**Note 1:** the performance improvement from the use of generators is the result of the lazy (on demand) generation of values,
which translates to lower memory usage

**Note 2:** I could use ```my_get``` to create a ```list``` equivalent to ```my_list```:

```
my_new_list = list(my_gen)
```

A generator can also be created using a function using ```yield``` instead of ```return```. Example:

In [ ]:
def my_generator():
    for i in range(1000000):
        yield i

my_equiv_gen = my_generator()

Note: ```my_equiv_gen``` is equivalent to ```my_gen```

### Add element at a given place of a list

In [ ]:
list_d = [1, 2, 4, 5]

Add 3 to ```list_d``` list at index 2 and print ```list_d``` (remember that indexing starts at zero)

In [ ]:
list_d.insert(2, 3)  # inserts 3 to index 2
print(f'{list_d = }')

list_d = [1, 2, 3, 4, 5]

### Check if an element is in a list

In [ ]:
print(f'{new_list_1 = }')
if 0 in new_list_1:
    print('0 is in new_list_1')
else:
    print('0 is not in new_list_1')

print(f'{new_list_2 = }')
if 1 in new_list_2:
    print('1 is in new_list_2')
else:
    print('1 is not in new_list_2')

new_list_1 = [0, 1, 2, 3, 4]
0 is in new_list_1
new_list_2 = [1, 2, 3, 4]
1 is in new_list_2

### Remove item from a list

In [ ]:
fruits = ['apple', 'pineapple', 'banana']
fruits.remove('pineapple')
print(f'fuits after removing "pineapple" : {fruits}')

fuits after removing "pineapple" : ['apple', 'banana']

### Join lists into a string using ```join```

In [ ]:
strings = ['a', 'b', 'c', 'd']
joined_string = '+'.join(strings)  # a single string will be constructed adding '+' b/w each item from strings
print(f'{joined_string = }')

joined_string = 'a+b+c+d'

### Sort list of numbers using ```sorted```

In [ ]:
numbers = [1, 3, 7, 2, 5, 10, 9, 12]
numbers_sorted = sorted(numbers)  # use sorted(numbers, reverse=True) if descending order is desired
print(f'Unsorted list = {numbers}')
print(f'Sorted list   = {numbers_sorted}')

Unsorted list = [1, 3, 7, 2, 5, 10, 9, 12]
Sorted list   = [1, 2, 3, 5, 7, 9, 10, 12]

## <div id='sets'>8. Sets</div>

A ```set``` is an **unordered** collection with **no duplicate elements**.

### Example 1: use ```set()``` to obtain a collection of unique characters from a string

In [ ]:
a = 'myexampletext'
my_set = set(a)  # will remove duplicates
print(my_set)
print(f'{type(my_set) = }')

{'e', 'y', 'p', 'l', 't', 'm', 'x', 'a'}
type(my_set) = <class 'set'>

### Example 3: create a set without using ```set()``` but ```{}``` instead

In [ ]:
my_set = {'stawberry', 'apple', 'orange'}
print(f'{my_set = }')

my_set = {'stawberry', 'apple', 'orange'}

### Example 2: use ```set()``` to remove duplicates from a list

In [ ]:
my_list = [0, 1, 6, 2, 1, 0, 2, 3, 4, 5, 6, 1]
my_list_without_duplicates = list(set(my_list))  # create a new list from the set
print(f'{my_list                    = }')
print(f'{my_list_without_duplicates = }')

my_list                    = [0, 1, 6, 2, 1, 0, 2, 3, 4, 5, 6, 1]
my_list_without_duplicates = [0, 1, 2, 3, 4, 5, 6]

## <div id='dicts'>9. Dictionaries</div>

Dictionaries are used to store data values in ```key: value``` pairs.

A dictionary is a collection which is ordered (since Python3.7), changeable and **do not allow duplicated keys**.

Dictionaries are written with curly brackets ```{}```.

**Example:**

In [ ]:
my_dict = {  # name: age
    'Manuel': 12,
    'Miguel': 45,
    'Andrea': 33,
}
print(my_dict)
print(f'{type(my_dict) = }')

{'Manuel': 12, 'Miguel': 45, 'Andrea': 33}
type(my_dict) = <class 'dict'>

**Note:** the value specified for a key could be an int as in the example or a float, string, boolean, list or even another dictionary, etc

A dictionary can also be constructed using the ```dict()``` function. For the example above, it would look like the following:

In [ ]:
my_dict = dict(
    Manuel = 12,
    Miguel = 45,
    Andrea = 33
)
print(my_dict)

{'Manuel': 12, 'Miguel': 45, 'Andrea': 33}

### How to define empty dictionary? (```dict_name = {}```)

In [ ]:
my_other_dict = {}
print(f'{my_other_dict = }')

my_other_dict = {}

### How to fill a dictionary? (```dict_name[key_name] = value```)

In [ ]:
my_other_dict['Ana'] = 25  # here the key is "Ana" and its value is 25
print(f'{my_other_dict = }')

my_other_dict = {'Ana': 25}

### How to loop over the keys of a dictionary?

In [ ]:
for key in my_dict:  # my_dict was defined above
    print(f'{key = }')

key = 'Manuel'
key = 'Miguel'
key = 'Andrea'

### How to loop over keys and values?

In [ ]:
for key, value in my_dict.items():
    print(f'value for key={key}: {value}')

value for key=Manuel: 12
value for key=Miguel: 45
value for key=Andrea: 33

### How to check if a key exists and if it does, print value? (example: ```if key_name in dict_name:```)

In [ ]:
if 'Miguel' in my_dict:
    print(f'value for key=Miguel: {my_dict["Miguel"]}')
if 'Julieta' in my_dict:
    print(f'value for key=Julieta: {my_dict["Julieta"]}')
else:
    print('Julieta is not in my_dict')

value for key=Miguel: 45
Julieta is not in my_dict

### The ```get()``` function.

We can retrieve the value associated to a key and get a default value when the key is missing with the ```get(key, value)``` function. The ```value``` parameter is optional and can be used to set a default value when ```key``` does not exist in the dictionary. Example:

In [ ]:
print(my_dict.get('John', -1))

-1

### How doe the ```any()``` and ```all()``` functions work on dictionaries?

The ```any()``` function returns ```True``` if any value is ```True``` (i.e there is a key with a ```True``` value assigned).

The ```all()``` function returns ```True``` if are no blank (empty string), zero or ```False``` values in the dictionary.

### Dict comprehension

In [ ]:
names = ['Miguel', 'Lucas', 'Ricardo', 'Maria', 'Lucia']
ages  = [32, 25, 46, 56, 33]
create_dict_fast = {name: age for name, age in zip(names, ages)}
print(f'{create_dict_fast = }')
# print(list(zip(names, ages)))

create_dict_fast = {'Miguel': 32, 'Lucas': 25, 'Ricardo': 46, 'Maria': 56, 'Lucia': 33}

### Get all values from a dict

In [ ]:
dictionary = {'a': 1, 'b': 2, 'c': 4}
print(f'{dictionary.values() = }')

dictionary.values() = dict_values([1, 2, 4])

### Get all keys from a dict

In [ ]:
# Get all keys from a dict
print(f'{dictionary.keys() = }')

dictionary.keys() = dict_keys(['a', 'b', 'c'])

### Merge dictionaries (Python 3.5+)

In [ ]:
dict_a = {'Name': 'Mathias', 'Age': 22}
dict_b = {'Name': 'Mathias', 'E-mail': 'email@example.com'}
merged_dict = {**dict_a, **dict_b}
print(f'{merged_dict = }')

merged_dict = {'Name': 'Mathias', 'Age': 22, 'E-mail': 'email@example.com'}

**Note:** The same can be acchieved with the following on Python 3.9+:

In [ ]:
merged_dict = dict_a | dict_b
print(f'{merged_dict = }')

merged_dict = {'Name': 'Mathias', 'Age': 22, 'E-mail': 'email@example.com'}

**Important:** If there is a key which is both dictionaries, but its value on each dict is different, then the value from ```dict_b``` will be used (the order on ```{**dict_a, **dict_b}``` (```dict_a | dict_b```) is important!).

### How to sort a dictionary based on keys

For this, I will rely on the ```sorted()``` function and a lambda function. Lambda functions will be introduced in the next notebook.

In [ ]:
print(f'{create_dict_fast = }')
sorted_by_keys_asc = dict(sorted(create_dict_fast.items(), key=lambda item: item[0], reverse=False))  # user reverse=True for descending order
print(f'{sorted_by_keys_asc = }')

create_dict_fast = {'Miguel': 32, 'Lucas': 25, 'Ricardo': 46, 'Maria': 56, 'Lucia': 33}
sorted_by_keys_asc = {'Lucas': 25, 'Lucia': 33, 'Maria': 56, 'Miguel': 32, 'Ricardo': 46}

### How to sort a dictionary based on values

For this, I will rely on the ```sorted()``` function and a lambda function. Lambda functions will be introduced in the next notebook.

In [ ]:
print(f'{create_dict_fast = }')
sorted_by_values_asc = dict(sorted(create_dict_fast.items(), key=lambda item: item[1], reverse=False))  # user reverse=True for descending order
print(f'{sorted_by_values_asc = }')

create_dict_fast = {'Miguel': 32, 'Lucas': 25, 'Ricardo': 46, 'Maria': 56, 'Lucia': 33}
sorted_by_values_asc = {'Lucas': 25, 'Miguel': 32, 'Lucia': 33, 'Ricardo': 46, 'Maria': 56}

## <div id='mutables-vs-immutables'>10. Mutables vs immutables</div>

Everything in Python is an object.

Objects in Python can be either <u>mutable</u> or <u>immutable</u>.

Every variable holds an object instance.

When an object is initiated, it is assigned a unique <u>object id</u> (or identity).

Its type is defined at runtime and once set can never change, **however its state can be changed if it is mutable**

i.e., a mutable object can be changed after it is created, and an immutable object can't.

The built-in function ```id()``` returns the identity of an object as an integer.

This integer usually corresponds to the object’s location in memory.

In [ ]:
my_variable = 'My text'
print(f'{my_variable       = }')
print(f'{type(my_variable) = }')  # type of m_variable
print(f'{id(my_variable)   = }')  # unique object id

my_variable       = 'My text'
type(my_variable) = <class 'str'>
id(my_variable)   = 3109458274288

**Objects of built-in types like (```int```, ```float```, ```bool```, ```str```, ```tuple```) are immutable.**

**Objects of built-in types like (```list```, ```set```, ```dict```) are mutable.**

Custom classes are generally mutable.

### Example 1: the following two dictionaries have the same information but different ids

In [ ]:
dict_a = {'a': 1}
dict_b = {'a': 1}
print(f'{dict_a     = }')
print(f'{dict_b     = }')
print(f'{id(dict_a) = }')
print(f'{id(dict_b) = }')

dict_a     = {'a': 1}
dict_b     = {'a': 1}
id(dict_a) = 3109458297728
id(dict_b) = 3109458209728

### Example 2: what happens if I try to modify the value of a immutable object?

In [ ]:
x = 10
y = x
print(f'{id(x) = }')
print(f'{id(y) = }')

id(x) = 140706702287944
id(y) = 140706702287944

```x``` and ```y``` share the same ```id``` (**they are the same object!**)

What happens if I modify ```x```? What happens with ```x``` and ```y```?

In [ ]:
x = x + 1  # note: this is equivalent to x += 1
print(f'{x     = }')
print(f'{y     = }')
print(f'{id(x) = }')
print(f'{id(y) = }')

x     = 11
y     = 10
id(x) = 140706702287976
id(y) = 140706702287944

Do you see what happened?
- ```y``` didn't change
- ```x``` now has a new id! (**ints are immutable, so to change ```x```, a new object needs to be created!**)

### Example 3: equivalent to example 2 but for a mutable object (list)

In [ ]:
x = [1, 2, 3, 4]  # note: this is equivalent to a = list([1, 2, 3, 4])
y = x
print(f'{x     = }')
print(f'{y     = }')
print(f'{id(x) = }')
print(f'{id(y) = }')

x     = [1, 2, 3, 4]
y     = [1, 2, 3, 4]
id(x) = 3109458213696
id(y) = 3109458213696

Let's modify ```x```:

In [ ]:
x.append(5)
print(f'{x     = }')
print(f'{y     = }')
print(f'{id(x) = }')
print(f'{id(y) = }')

x     = [1, 2, 3, 4, 5]
y     = [1, 2, 3, 4, 5]
id(x) = 3109458213696
id(y) = 3109458213696

**Now both, ```x``` and ```y```, were modified!** (since they are mutable!)

### Exception in immutability

The ```value``` of an immutable object can't change, but its constituent objects can.

Let's look at a ```tuple``` which is immutable.

Tuples are used to store multiple items in a single variable.

**A ```tuple``` is a collection which is ordered and unchangeable.**

Tuples are written with round brackets (```()```).

The value of a tuple can't be changed after it is created.

But the ```value``` of a tuple is in fact a sequence of names with unchangeable bindings to objects.

The key thing to note is that the bindings are unchangeable, not the objects they are bound to.

One could have a ```tuple``` including a mutable object for which we could change its content.

**Example:**

In [ ]:
my_tuple = ('A string', [1, 2, 3, 4])
print(f'{my_tuple = }')

my_tuple = ('A string', [1, 2, 3, 4])

Let's change the content of the list

In [ ]:
my_tuple[1].append(5)
print(f'{my_tuple = }')

my_tuple = ('A string', [1, 2, 3, 4, 5])

## <div id='equality-vs-identity'>11. Equality vs identity</div>

 ### What is the difference between ```==``` (equality) and Python's keyword ```is``` (identity)?

When an ```==``` is used in a condition, we are asking Python if two variables contain the same thing (information).

In [ ]:
num_1 = 1
num_2 = num_1

if num_1 == num_2:
    print('num_1 == num_2')

list_1 = [1, 2, 3, 4]
list_2 = [1, 2, 3, 4]

if list_1 == list_2:
    print('list_1 == list_2')

num_1 == num_2
list_1 == list_2

In the two examples above, ```num_1``` (```list_1```) and ```num_2``` (```list_2```) are equal. But are ```num_1``` (```list_1```) and ```num_2``` (```list_2```) identical (i.e., the same objects)? In this case, we are asking if they have the same identity (i.e. if they are actually the same object).

In the case of ```num_1``` and ```num_2```, the answer is yes:

In [ ]:
if id(num_1) == id(num_2):
    print('num_1 and num_2 are identical')

num_1 and num_2 are identical

We can check the same using ```is```:

In [ ]:
if num_1 is num_2:
    print('num_1 and num_2 are identical')

num_1 and num_2 are identical

In the case of ```list_1``` and ```list_2```, the answer is no:

In [ ]:
if list_1 is not list_2:
    print('list_1 and list_2 are not identical')

list_1 and list_2 are not identical

**Note:** Naturally, if ```id(a) == id(b)``` (```a``` and ```b``` are identical) we know ```a == b``` (equal)

## <div id='importing'>12. Importing modules and packages</div>

Python code is organized into both modules and packages.

Code in one module gains access to the code in another module by the process of importing it.

### Modules

In practice, a module usually corresponds to one .py file containing Python code.

Modules can be imported and hence, functions/variables/classes therein can be reused in another code.

**Example:**

First, import the ```math``` module

**Note:** ```math``` is part of Python’s standard library (i.e. it’s always available to import)

In [ ]:
import math

Then, access the pi variable ($\pi$) within the math module

In [ ]:
print(math.pi)

3.141592653589793

**Note:** I wrote ```math.pi``` and not just simply ```pi```!

In addition to being a module, ```math``` acts as a **namespace** that keeps all the attributes of the module together.

You can list the content of a namespace with ```dir()``` and as you can see below, ```pi``` is one of the available attributes from ```math```:

In [ ]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

#### How import only what is needed?

This helps to speed up your Python modules.

**Example 1:**

In [ ]:
from math import pi
print(pi)

3.141592653589793

**Note:** that this places ```pi``` in the global namespace and not within a ```math``` namespace.

**Example 2:**

Let's now import the ```cos()``` function and ```pi```

In [ ]:
from math import pi, cos
print(cos(pi))

-1.0

**Example 3:**

You can also rename modules:

In [ ]:
import math as m
print(m.pi)

3.141592653589793

**Note:** The namespace is now called ```m```

**Example 4:**

You can also rename attributes:

In [ ]:
from math import pi as PI
print(PI)

3.141592653589793

#### How to check the version of a module that was imported?

For any module not available in the standard library, one could check its version with the ```__version__``` attribute. This is not available for modules from the standard library since its version would be the version of Python.

**Note:** See the Helpful_modules notebook to learn about the most useful Python modules

### Packages

You can use a package to further organize your modules.

A package is a Python module which can contain submodules subpackages.

A package typically corresponds to a file directory containing Python modules and other directories/folders. To create a Python package, you need to create a directory and place inside a file named ```__init__.py```. The ```__init__.py``` file contains the contents of the package when importing it. It can be left empty.

In general, submodules and subpackages aren’t imported when you import a package (when ```__init__.py``` is empty).

In such a case, you would need to do something like this:

```
from package.file import function
from package.file import class
```

# <div id='exercises' align='center'>13. Exercises</div>

## Exercise 1

Evaluate the following formula for ```x=5```: 2x+(x-1)^3

## Exercise 2

Create a list of the lowest 10 even numbers using list comprehension

## Exercise 3

Print the first and last elements from the following list: ```names = ['Jonathan', 'David', 'George', 'Matthias']```

## Exercise 4

Generate a dictionary using dict comprehension where the keys are numbers between 1 and 10 (both included) and each corresponding value is the square of the key

## Exercise 6

Create a string by concatenating all elements in a list and introducing a space between all elements.

You could use the following list of strings: ```['My', 'name', 'is', 'Michele']```.

## Exercise 7

Create a variable named ```my_string``` equal to ```'This is a test'```. Check if ```my_string``` is empty or not, and print ```"This is a test" is not empty``` only if ```my_string``` is not empty.

## <div id='solutions' align='center'>13.A. Solutions</div>

### Answer exercise 1

In [ ]:
print(2*5 + (5-1)**3)

74

### Answer exercise 2

In [ ]:
even_numbers = [i for i in range(19) if i % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### Answer exercise 3

In [ ]:
names = ['Jonathan', 'David', 'George', 'Matthias']
print(names[0], names[-1])

Jonathan Matthias

### Answer exercise 4

In [ ]:
my_dict = {key: key*key for key in range(1, 11)}
print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Answer exercise 5

In [ ]:
string_2 = 'OK'
if not string_2.startswith("It's "):
    string_2 = "It's " + string_2
print(string_2)

It's OK

### Answer exercise 6

In [ ]:
list_of_strings = ['My', 'name', 'is', 'Michele']
final_string = ' '.join(list_of_strings)
print(final_string)

My name is Michele

### Answer exercise 7

In [ ]:
my_string = 'This is a test'
if my_string:
    print(f'"{my_string}" is not empty')

"This is a test" is not empty